# Copyright (C) 2017-2022 The Android Open Source Project
# Copyright (C) 2014-2022 The Team Win LLC
# SPDX-License-Identifier: BSD-3-Clause

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion
    install_keyring

on post-fs-data
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/2-005a/f0_save
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/2-005a/osc_save
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/3-005a/osc_save
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/2-005a/custom_wave
    chmod 0666 /sys/bus/i2c/drivers/aw8697_haptic/2-005a/custom_wave
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/2-005a/custom_wave
    chmod 0666 /sys/bus/i2c/drivers/aw8697_haptic/2-005a/custom_wave
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/3-005a/custom_wave
    chmod 0666 /sys/bus/i2c/drivers/aw8697_haptic/3-005a/custom_wave
    chmod 0666 /sys/class/qcom-haptics/lra_calibration
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/0-005a/custom_wave
    chmod 0666 /sys/bus/i2c/drivers/aw8697_haptic/0-005a/custom_wave
    chmod 0666 /sys/class/qcom-haptics/lra_impedance
    chown system system /sys/bus/i2c/drivers/awinic_haptic/3-005a/f0_save
    chown system system /sys/bus/i2c/drivers/awinic_haptic/3-005a/osc_save
    chown system system /sys/bus/i2c/drivers/awinic_haptic/3-005a/custom_wave
    chmod 0666 /sys/bus/i2c/drivers/awinic_haptic/3-005a/custom_wave

on init
    setprop crypto.ready 1

service vendor.qseecomd /vendor/bin/qseecomd
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

# keystore is started and stopped on demand by TWRP
service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service-qti
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0 /vendor/bin/hw/android.hardware.keymaster@4.0-service-qti
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vibrator-service /vendor/bin/vendor.qti.hardware.vibrator@1.2-service
    class hal
    user system
    group system input
    seclabel u:r:recovery:s0

on boot
    start vibrator-service
    start health-hal-2-1

on property:crypto.ready=0
    stop vendor.qseecomd
    stop keymaster-4-0
    stop gatekeeper-1-0
    stop servicemanager

on property:crypto.ready=1
    start vendor.qseecomd

on property:vendor.sys.listeners.registered=true
    start keymaster-4-0
    start gatekeeper-1-0
    start servicemanager

on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    start patchfstab

service patchfstab /system/bin/patchfstab.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0
